@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
:root {
    --dark-intro-email-sign-up: hsl(217, 28%, 15%);
    --dark-main-background: hsl(218, 28%, 13%);
    --dark-footer-background: hsl(216, 53%, 9%);
    --Dark-testimonials-background: hsl(219, 30%, 18%);
    --Cyan: hsl(176, 68%, 64%);
    --Blue: hsl(198, 60%, 50%);
    --Light-Red: hsl(0, 100%, 63%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--dark-main-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height:100vh;
    position: relative;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    align-items: center;
    padding:25px 20px;
    padding-top: 35px;
}

.logo {
    color:white;
    height:25px;
    width:auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li {
    list-style-type:none;
    font-size: 14px;
}

nav ul li a {
    text-decoration: none;
    color:white;
    opacity: 0.9;
    margin-right:15px;
}
.hero-section {
    margin-top: 20px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-img {
    width:85%;
    margin-bottom: 20px;
}
.hero-section h1 {
    color:white;
    width:90%;
    margin-bottom: 15px;
    line-height: 35px;
    font-size: 22px;
    letter-spacing: 1px;
}
.hero-section p {
    color:white;
    opacity: 0.85;
    width:80%;
    line-height: 23px;
    margin-bottom: 30px;
    font-size: 14px;
}

.get-started {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    padding:17px 0;
    width:65%;
    border-radius: 45px;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));

}
.benefits {
    margin-top:110px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
}
.card {
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:80px;
}
.card h2 {
    margin-top:30px;
    margin-bottom:5px;
    letter-spacing: 1px;
    font-size: 16px;
}
.card p {
    font-size: 14px;
    line-height: 23px;
    opacity: 0.85;
}
.stay-productive {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.productive-img {
    height:auto;
    width:85%;
    margin-bottom:30px;
}
.productive-text {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    color:white;
}
.productive-text h2 {
    margin-bottom:10px;
    letter-spacing: 1px;
    font-size: 16px;
}
.productive-text p {
    opacity: 0.85;
    font-size: 14px;
    line-height: 23px;
}

.how-fylo-works {
    margin-top: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom:3px;
    border-bottom: 1px solid var(--Cyan);
    width:150px;
}
.how-fylo-works a {
    text-decoration: none;
    color:var(--Cyan);
    margin-right:5px;
}
.reviews {
    margin-top:125px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.review {
    width:80%;
    background-color: var(--dark-intro-email-sign-up);
    margin-bottom:25px;
    color:white;
    display: flex;
    flex-direction: column;
    padding:30px 20px;
    border-radius: 7px;
}
.first {
    position: relative;
    z-index: 999;
}
.quote {
    width:35px;
    height:auto;
    position: absolute;
    top:-25px;
    z-index: -1;
}
.review p {
    opacity: 0.85;
    font-size: 13px;
    line-height: 23px;
    text-align: left;
}
.who {
    margin-top:15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.who img {
    border-radius: 50%;
    width:37px;
    height:auto;
    margin-right:10px;
}
.about {
    text-align: left;
}
.about h3 {
    font-size: 14px;
    letter-spacing: 1px;
}
.about small {
    font-size: 12px;
    opacity: 0.85;
    letter-spacing: 1px;
}
footer {
    padding-top:150px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--dark-footer-background);
}
.card-email {
    width:90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:var(--dark-intro-email-sign-up);
    padding:20px 30px;
    color:white;
    border-radius:8px;
    position: relative;
    top:140px;
}
.card-email h2 {
    margin-bottom:15px;
    letter-spacing: 1px;
    font-size: 17px;
}

.card-email p {
    opacity: 0.85;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
}

form input {
    margin-top:15px;
    border:none;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    width:90%;
    padding:12px 0px;
    text-align: center;
    border-radius: 30px;
    color:#ebebeb;
}

form button {
    margin-top:13px;
    margin-bottom: 10px;
    border:none;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    width:90%;
    padding:12px 0px;
    text-align: center;
    border-radius: 30px;
    color:white;
    font-weight: 700;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));;
}

.logo-footer {
    width:125px;
    height:auto;
    margin-bottom: 20px;
}
.footer-content {
    width:85%;
}
footer .logo {
    text-align: left;
    margin:25px 0px;
}
.info{
    color:white;
    opacity: 0.85;
}
.location {
    text-align: left;
    flex-direction: row;
    display: flex;
    align-items: flex-start; /* IMPORTANT */
    justify-content: flex-start;
    margin-bottom: 18px;
}
.location p {
    margin-left:15px;
    font-size: 14px;
    line-height: 23px;
    text-align: left;
}
.contact ul li {
    text-align: left;
    flex-direction: row;
    display: flex;
    align-items: flex-start; /* IMPORTANT */
    justify-content: flex-start;
    margin-bottom: 17px;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.contact ul li img {
    margin-right: 15px;
}
.links {
    text-align: left;
    margin-top:75px;
}
.links ul li {
    list-style-type: none;
    margin-bottom: 10px;
}
.links ul li a {
    text-decoration: none;
    color:white;
    font-size: 14px;
    letter-spacing: 0.8px;
}
.second-list {
    margin-top:50px;
}

.social-media {
    margin:35px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    justify-items: center;
}
.fb, .twt, .insta {
    font-size: 25px ;
    margin:13px;
}
/* TABLET */
@media screen and (min-width:700px){
    .card-email {
        width:75%;
    }
    .hero-section {
        width: 85%;
    }
    .header-img {
        width:75%;
    }
    .hero-section h1 {
        width:75%;
    }
    .hero-section p {
        width:70%;
    }
    
    .get-started {
        width:55%; 
    }
    .benefits {
        width: 85%;
    }
    .card {
        width:75%;
    }
    .stay-productive {
        width: 85%;
    }
    .productive-img {
        width:75%;
    }
    .productive-text {
        width: 70%;
    }
    .reviews {
        width: 85%;
    }
    .review {
        width:75%;
    }
    .card-email {
        width:75%;
    }
    .footer-content {
        width:75%;
    }
}
/* DESKTOP */
@media screen and (min-width:1050px) {
    .card-email {
        width:50%;
    }
    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width:90%;
    }
    form input {
        margin-top:15px;
        margin-bottom: 10px;
        font-size: 14px;
        width:60%;
        margin-right:20px;
    }
    
    form button {
        margin-top:15px;
        margin-bottom: 10px;
        width:35%;
        padding:12px 0px;
    }
    .info {
        display: grid;
        grid-template-columns: 20% 20% 30% auto;
        grid-template-rows: 100px auto;
        grid-column-gap: 40px;
        grid-template-areas: "logo . . ."
                            "location contact links social-media ";
    }
    .links {
        grid-area:links;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top:0;
    }
    .second-list {
        margin-top:0;
    }
    .location {
        grid-area: location;
    }
    .contact {
        grid-area: contact;
    }
    .social-media {
        grid-area:social-media;
    }
    .logo-footer {
        grid-area:logo;
    }
    .social-media {
        margin:0;
    }
    footer {
        padding-bottom:30px;
    }
    .social-media {
        align-self:baseline;
    }
    .reviews {
        margin-top:125px;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

    }
    .review {
        width:30%;
        margin: 0 10px;
    }

    .card-email {
        top:95px;
    }

    .hero-section {
        width: 85%;
    }
    .header-img {
        width:75%;
    }
    .hero-section h1 {
        width:75%;
    }
    .hero-section p {
        width:70%;
    }
    
    .get-started {
        width:55%; 
    }
    .benefits {
        width: 85%;
    }
    .card {
        width:75%;
    }
    .stay-productive {
        width: 85%;
    }
    .productive-img {
        width:75%;
    }
    .productive-text {
        width: 70%;
    }
    .reviews {
        width: 85%;
    }
    .footer-content {
        width:75%;
    }

}
